<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    <h1>About This Web App</h1>
    <img src="C:\Users\Rican\OneDrive\Desktop\University🎓\MSc Data Science and AI\SEM 1\COM7033 - Secure Software Development\SSD_Project\com7033-assignment-Karnapx\static\images/about.jpg" alt="About Image" Style="width:300px;"><br>
    <p>This application allows users to register and view some data.</p>
    <a href="home.html">Go back Home</a>

</body>
</html>