<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home Page </title>
</head>
<body>
    <h1> RSK Medical </h1>
    <img src="C:\Users\Rican\OneDrive\com7033-assignment-Karnapx\static\images\doctors.jpg" alt="Home Image" style="width:300px;"><br>
    <p>Welcome to RSK Medical home page.</p>
    <a href="about.html">Go to About Page</a><br>
    <a href="register.html">Register</a><br>
    <a href="data.html">View Data</a><br>
</body>
</html>
